@media(max-width:991px){
    
    /* HEADER */
    
    header .toggle{
        display:block;
    }
    header nav{
        display:none;
        position: absolute;
        top:100%;
        left:0;
        right:0;
    }
    header nav ul{
        flex-direction: column;
        background-color: black;
    }
    header nav ul li a{
        color:rgb(177, 144, 109);
        padding:7px 0;
    }
}